nav{
    background-color:rgb(255, 255, 255)
    
}
div{
    background-color:rgb(255, 255, 255);
}
.nav-item3{
    position:relative;
    margin-left: 10%;
}
.nav-item1{
    position:relative;
    margin-left: 50px;

}
.nav-item4{
    position: relative;
    margin-left: 70%;
    margin-top: 2px;
    
}
.form-control{
    float:left;
    position: relative;
    width:90%;
}
.nav-item-dropdown{
    position: relative;
    margin-left:0%;
    margin-top: 1px;
}
.input-group{
    float:left;
    position: relative;
    width: 650px;
}
.nav-link{
    position: relative;
    padding-top: 3px;
}
