<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-light bg-light">
    <ul class="nav nav-pills">
        <li class="nav-item-dropdown">
            <a class="nav-link dropdown" type="button" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/8d/VisualEditor_-_Icon_-_Menu.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Mail</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <img src="https://www.logo.wine/a/logo/Gmail/Gmail-Logo.wine.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            </a>
        </li>
        <li class="nav-item">
        <form class="container-fluid">
            <div class="input-group">
                <button type="button" class="btn btn" id="basic-addon1">
                    <i class="fa fa-search"></i>
                </button>
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
            </div>
        </form>
    </li>
        <li class="nav-item">
            <a class="btn btn-secondary dropdown-toggle btn-sm" aria-expanaded="false" data-toggle="button" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" aria-haspopup="true" id="dropdownMenuLink" style="margin-top: 2px; margin-left: 200px;">Status</a>
            <ul class="dropdown-menu" style="margin-left: 69%;">
                <li><a class="dropdown-item" href="#">Active</a></li>
            </ul>
        </li>
        <li class = "nav-item">
            <a class="nav-link" href="#">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Icon-round-Question_mark.svg" alt="" width="25" height="25" class="d-inline-block">
            </a>
        </li>
        <li class = "nav-item">
            <a class="nav-link" href="#">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Cog_font_awesome.svg" alt="" width="25" height="25" class="d-inline-block">
            </a>
        </li>
        <li class = "nav-item">
            <a class="nav-link" href="#">
                <img src="https://cdn3.iconfinder.com/data/icons/faticons/32/grid-2-01-1024.png" alt="" width="25" height="25" class="d-inline-block">
            </a>
        </li>
    </ul>
</nav>