.buttonH:hover{
    background-color: rgb(243, 243, 243);

}
.buttonCirc{border-radius: 50%;}
.bi-list{
    width: 32px;
    height: 32px;
}
.nav-linkPad{
    padding-top: 10px;
    padding-bottom: 10px;
}
.searchWidth{
    width: 40%;
}
.searchRadius{
    border-radius: 50%;
}
.btn-lightgrey{
    background-color: background-color;
}
.searchSubmit{
    height: 40px;
    width: 40px;
    position: flex;
    border-radius: 50%;
}
.searchSubmit:hover{
    background-color: rgb(231, 231, 231);
    
}
.searchTab{
    width: 63%; height: 50px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}
.btnHover:hover{
    background-color: rgb(231, 231, 231);
}