<p *ngIf="myInfo == undefined">Failed fetching User Info!</p>
<div *ngIf="myInfo != undefined">
    <div class="container-fluid">
        <div class="d-flex flex-row justify-content-between">
            <div class="flex-column">
                User: {{myInfo.FirstName}} {{myInfo.LastName}}
            </div>
            <div class="flex-column">
                Mix ID: <a href ="mailto: {{myInfo.mix_id}}@mix.wvu.edu">{{myInfo.mix_id}}</a>
            </div>
            <div class="flex-column">
                GitHub: <a href ={{myInfo.GitHub}}>{{myInfo.GitHub}}</a>
            </div>
        </div>
    </div>
</div>