
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<div class="toggleButton">
    <button class="btn btn-white px-2 py-2 buttonH buttonCirc  d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-expanded="false" aria-controls="collapseWidthExample">
        <svg class="bi" width="32" height="32" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#list"/>
          </svg>
    </button>
</div>
<div class="sidebar" id="sidebar">
    <div class="content">
    <ul class="nav_list">
        <li>
            <a href="#">
                <i class="bi-pencil"></i>
                <span class="link_name">Compose</span>
            </a>
        </li>
        <li>
            <a routerLink="/inbox">
                <i class="bi-inbox-fill"></i>
                <span class="link_name">Inbox</span>
            </a>
        </li>
        <li>
            <a routerLink="/inbox">
                <i class="bi-envelope"></i>
                <span class="link_name">Mail</span>
            </a>
        </li>
        <li>
            <a routerLink="/starred">
                <i class="bi-star"></i>
                <span class="link_name">Starred</span>
            </a>
        </li>
        <li>
            <a routerLink="/snoozed">
                <i class="bi-clock"></i>
                <span class="link_name">Snoozed</span>
            </a>
        </li>
        <li>
            <a routerLink="/sent">
                <i class="bi-box-arrow-in-right"></i>
                <span class="link_name">Sent</span>
            </a>
        </li>
        <li>
            <a routerLink="/drafts">
                <i class="bi-file-earmark"></i>
                <span class="link_name">Drafts</span>
            </a>
        </li>
        <div class="Chat_Area">
        <li>
            <a href="#">
                <i class="bi-chat-left"></i>
                <span class="link_name">Chat</span>
            </a>
        </li>
        </div>
        <div class="Rooms_area">
        <li>
            <a href="#">
                <i class="bi-grid-1x2"></i>
                <span class="link_name">Rooms</span>
            </a>
        </li>
        </div>
        <div class="Meet_area">
        <li>
            <a href="#">
                <i class="bi-camera-video"></i>
                <span class="link_name">Meet</span>
            </a>
        </li>
    </div>
    </ul>
</div>
