<div class="accordion-body p-3 align-items-center"
    style="background-color: rgb(248, 247, 247); border-top: solid 2px; border-color: rgb(230, 230, 230); height: 15px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="pe-5 fontSize ps-0 fw-bold">{{author}}</div>
            </div>
            <div class="col">
                <div class="d-flex flex-row">
                    <div class="pe-1 fontSize fw-bold">{{subject}}</div>
                    <div class="pe-2 fontSize text-muted">{{content}}</div>
                </div>
            </div>
        </div>
    </div>
</div>