<div class="container-fluid">
    <div class="row" style="background-color: aqua;">
        <div class="col px-0" style="background-color: blueviolet;">
            <app-header>Loading</app-header>
        </div>
    </div>
    <div class="row px-0" style="background-color: darkorchid;">
        
        <div class="col px-0" style="background-color: rgb(255, 255, 255);">
            <router-outlet></router-outlet>
            <!-- <app-accrodian>Loading</app-accrodian>
            <app-snoozed>Loading</app-snoozed>
            <app-starred>Loading</app-starred>
            <app-sent>Loading</app-sent>
            <app-drafts>Loading</app-drafts> -->
        </div>
    </div>
</div> 
<app-sidebar-popout>Loading</app-sidebar-popout>