<div class="container">
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Snoozed
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body" style="background-color: rgb(248, 247, 247);border-top: solid 2px; border-color: rgb(230, 230, 230);">
        </div>
        <div class="accordion-body" style="background-color: rgb(248, 247, 247); border-top: solid 2px; border-color: rgb(230, 230, 230);">
        </div>
      </div>
    </div>
</div>